#myHeader {
    background-color: rgb(2, 46, 61);
    color: rgb(250, 244, 244);
    padding: 40px;
    text-align: center;
    text-align: center;
  }

  .body img:hover {
    width: 550px;
    height: 550px;
    transition: 0.9s;
  }


  .body {
    background-color: black;
  }

  .city {
    background-color: rgb(7, 69, 117);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

  .city1 {
    background-color: rgb(11, 99, 167);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

  .city2 {
    background-color: rgb(26, 121, 193);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

  .city3 {
    background-color: rgb(103, 182, 243);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

  .city4 {
    background-color: rgb(128, 216, 245);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

  .city5 {
    background-color: rgb(162, 238, 251);
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
  }

